/* Globales */

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'fuenteVOGUE';
    src: url('../fonts/Vogue.ttf') format('truetype');
}

body{
    font-family: Tahoma;
    color: grey;
}

.icon-cart {
    width: 40px;
    height: 40px;
    color: #000;
}

img{
    max-width: 100%;
}

/*Header*/

.banner{
    width:100%;
    display:block;
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}

.container-icon{
    position: relative;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 15px;
}

.container-cart-products{
    position: fixed;
    bottom: 90px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;


    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease ;
}

.container-cart-products.hidden-cart {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}


.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
    transition: all .5s;
}

.icon-close:hover{
    color: red;
    cursor: pointer;
    transform: scale(1.2);
}

.cart-total{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}



.container_citas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.citas{
    border-radius: 10px;
}

.citas:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.citas img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.citas figure{
    overflow: hidden;
}

.citas:hover img {
    transform: scale(1.2);
}

.info_cita{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}


.carrito_flotante{ /* CSS para que el carrito de compras esté siempre en la pantalla en la esquina de abajo*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: rgb(108,172,212);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.count-products{
    position: absolute;
}




.titulos{
    font-family: fuenteVOGUE;
    font-size: 2.5rem;
    color: rgba(56,138,178,255);
    text-decoration:underline;
}

.info_cita button{
    background:linear-gradient(to right, #1685b5, #43aaf4);
    padding: 1rem 2rem; 
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: all .5s;
}

.boton:hover{
    transform:scale(1.1);
}

.footer-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.footer-image {
    width: 100%;
    display: block;
}

.footer-container iframe {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 20px;
    right: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.container-icon {
    display: flex;
    gap: 2rem;
    transition: all .5s;
    cursor: pointer;
}

.insta:hover {
    transform: scale(1.1);
}

.whats:hover {
    transform: scale(1.1);
}

.icon{
    font-size:2.5rem;
    color:rgb(255, 255, 255);
}

.foto-mapa{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:2%;
    width:30%;
    height:auto;
    z-index:2;

}



